@model LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
}
<section id="">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="login-form">
                    <h2>Login to your account</h2>
                    <!-- Hiển thị lỗi toàn cục -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="Login" asp-controller="Account">
                        <div class="form-group">
                            <label>Username</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Trường ẩn để giữ giá trị ReturnUrl -->
                        <input type="hidden" asp-for="ReturnUrl" />
                        <button class="btn btn-default">Login</button>
                        <a asp-action="Create" asp-controller="Account">Tạo tài khoản mới</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

